.body{
    font-family: Arial, Helvetica, sans-serif;
}
.msbtn{
    display: inline-block;
    border-radius:40px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}
.msred{
    background-color:#cd3d0f;
}
.msblue{
    background-color:#2d64e6;
}
/* header */
header{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}
.header-top{
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding-right:10px;
}
.header-top img{
    width: 8%;
    padding: 5px;
}
.header-bottom{
    background-color: white;
}
/* main */
#jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    min-height: 546px;
    color: white;
    padding-top:15rem;
}
#jumbotron img{
    width: 50%;
}
h1{
    font-size: 40px;
    padding: 10px 0;
}
#playstation5{
    padding: 20px 0;
}
#playstation5 img{
    width: 100%;
    border-radius:8px;
}
.play{
    text-transform: uppercase;
    text-decoration: none;
}
.subtitle{
    color:#818181;
}
h2{
    padding-bottom: 1rem;
}